<%- include('../includes/header.ejs') %>

  <main class="flex items-center justify-center">
    <section class="flex flex-col mt-10 h-full w-full max-w-4x1">
      <div class="flex flex-col px-6 items-center">
        <div class="flex flex-col justify-center">
          <div class="flex flex-col gap-2 border-b pb-6 mb-6 border-slate-300">

            <h1 class="font-bold text-3xl">
              <%= post.title %>
            </h1>

            <h2 class=" text-gray-700 text-xl">
              <%= post.summary %>
            </h2>

            <a class="flex gap-3 w-fit" href="/user/<%= post.author.id %>">
              <img class="size-11 rounded-full" src="<%= post.author.avatar %>" alt="author avatar">
              <div class="flex flex-col">
                <p>
                  <%= post.author.name %>
                </p>
                <p class="text-gray-700 text-sm ">
                  <%= formatDate(new Date(post.createdAt)) %>
                </p>
              </div>
            </a>
          </div>

          <div>
            <p class="text-gray-600">
              <%= post.content %>
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>


  <%- include('../includes/footer.ejs') %>
